.root{
    -fx-font-size: 12pt;
    -fx-font-family: System;
    -fx-base: #F1914F;
    -fx-background: #FDC992;
}

.header{
    -fx-font-size: 30pt;
    -fx-font-weight: bold;
}

.text-area{
    -fx-border-radius: 2;
}