.root{
    -fx-font-size: 12pt;
    -fx-font-family: System;
    -fx-base: #F1914F;
    -fx-background: #FDC992;
}
.text-area{
    -fx-border-radius: 2;
}

.header{
    -fx-font-size: 40pt;
    -fx-font-family: "Britannic Bold";
}