.root{
    -fx-font-size: 16pt;
    -fx-font-family: System;
    -fx-base: #F1914F;
    -fx-background: #FDC992;
}

.header{
    -fx-font-size: 30pt;
    -fx-font-weight: bold;
}

HBox {
    -fx-border-color: saddlebrown;
    -fx-background-color: antiquewhite;
    -fx-alignment: CENTER_LEFT;
    -fx-border-radius: 2;
}